
<h1>About Me</h1>
<div id="main">
    <img id="hero" src="./assets/me&jefferson.jpeg" />
    <div id="content">
        <p>Hello, my name is Adam Harbeck and I’m a front-end and full stack developer from Seattle, Washington. I enjoy using words to weave the fabric of websites.</p>
        <p>When not working on the weave, I enjoy baking, playing video and board games, and spending time with my husband and our pitbull Fergus.</p>
        <p>I'm interested in the full spectrum of programming including mobile apps and games as well as web development.</p> 
    </div>
</div>