<html>
    <head>

    </head>

    <body>
        <header>
            <nav>
                <button id="loginButton"></button>
            </nav>
        </header>

        <h1>Employee</h1>

        <button id="newTick">Submit Ticket</button>
        <button id="pendTicks">Pending Tickets</button>
        <button id="resoTicks">Resolved Tickets</button>
        <button id="empProfile">Profile</button>

        <div id="divList"></div>
        
        <script src="../scripts/main.js"></script>
        <script src="../scripts/employee.js"></script>
    </body>
</html>