<html>
    <head>

    </head>

    <body>
        <header>
            <nav>
                <button id="loginButton"></button>
            </nav>
        </header>

        <h1>Employee</h1>

        <button id="newTick">Submit Ticket</button>
        <button id="pendTicks">Pending Tickets</button>
        <button id="resoTicks">Resolved Tickets</button>
        <button id="empProfile">Profile</button>

        <div id="divList"></div>
        
        <div id="newT" style="display:none" >
            <label for="forAmount">Amount</label>
            <input type="text" id="forAmount"/>
            <br>
            <label for="forDescription">Description</label>
            <textarea id="forDescription"></textarea>
            <br>
            <label for="forType">Type</label>
            <select id="forType">
                <option></option>
                <option>TRAVEL</option>
                <option>FOOD</option>
                <option>LODGING</option>
                <option>OTHER</option>
            </select>
            <br>
            <button id="tickSubmit">Submit</button>
        </div>

        <script src="../scripts/main.js"></script>
        <script src="../scripts/employee.js"></script>
    </body>
</html>