<html>
    <head>
        <link href="../css/main.css" rel="stylesheet" />
        <link href="../css/login.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <img src="../assets/reimb.jpeg" />
        </header>

        <h1>Login</h1>

        <div id="loginDiv">
            <input type="text" placeholder="Username" id="loginUser"/>
            <input type="password" placeholder="Password" id="loginPass" />
        </div>

        <button id="loginButton">Submit</button>


        <script src="../scripts/login.js"></script>
    </body>

</html>