<html>
    <head>

    </head>

    <body>
        <header>
            <nav>
                <button id="loginButton"></button>
            </nav>
        </header>

        <h1>Manager</h1>

        <button id="pendTick">Pending Tickets</button>
        <button id="resoTick">Resolved Tickets</button>
        <button id="emps">Employees</button>


        <div id="ticketList"></div>

        <script src="../scripts/main.js"></script>
        <script src="../scripts/manager.js"></script>
    </body>
</html>