<html>
    <head>
        <link href="../css/main.css" rel="stylesheet" />
        <link href="../css/manager.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <img src="../assets/reimb.jpeg" />
            <nav>
                <ul>
                    <li id="pendTick">Pending Tickets</li>
                    <li id="resoTick">Resolved Tickets</li>
                    <li id="emps">Employees</li>
                </ul>
            </nav>
            <button class="logoutButton" onClick="logout()">Logout</button>
        </header>

        <h1>Manager</h1>




        <div id="divList"></div>

        <script src="../scripts/main.js"></script>
        <script src="../scripts/manager.js"></script>
    </body>
</html>